<div class="contactUsContainer">
  <div class="container">
    <div class="frontPart">
      <div class="logo_container">
        <a href="/home" class="logo"></a>
      </div>

      <div class="aboutPhone">
        <div class="logoIcon"><i class="fa-solid fa-headphones"></i></div>
        <div class="phone">
          <div class="contactSmallText">United States</div>
          <a class="phoneNo" href="#">+95-123-456-789</a>
          <p class="contactSmallText2">
            Or see our complete list of <a href="#">local country numbers </a>
          </p>
        </div>
      </div>

      <div class="aboutPhone mt-4">
        <div class="logoIcon"><i class="fa-regular fa-envelope"></i></div>
        <div class="phone">
          <a href="#" class="aboutHover">Contact Us</a>
        </div>
      </div>

      <div class="aboutPhone mt-4">
        <div class="logoIcon"><i class="fa-solid fa-comments"></i></div>
        <div class="phone">
          <a href="#" class="aboutHover">Chat now</a>
        </div>
      </div>

      <div class="contactUsIcon">
        <a href="#" class="iconContainer"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="#" class="iconContainer"
          ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="#" class="iconContainer"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a href="#" class="iconContainer"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="#" class="iconContainer"
          ><i class="fa-regular fa-envelope"></i
        ></a>
      </div>
    </div>

    <div class="backPart">
      <div class="contactUsColumn">
        <div class="columnHeader">Quick Links</div>
        <a href="">SAP Trust Center</a>
        <a href="">Find a Solution </a>
        <a href="">Industries</a>
        <a href="">Find a Partner</a>
        <a href="">Trials and Demos</a>
        <a href="">Find Services</a>
      </div>

      <div class="contactUsColumn">
        <div class="columnHeader">Trending</div>
        <a href="">SAP TechEd</a>
        <a href="">Find a Solution </a>
        <a href="">What is RISE with SAP?</a>
        <a href="">SAP Business AI</a>
        <a href="">Sustainability</a>
        <a href="">Find Services</a>
      </div>

      <div class="contactUsColumn">
        <div class="columnHeader">About SAP</div>
        <a href="">Company Information</a>
        <a href="">Worldwide Directory</a>
        <a href="">Industries</a>
        <a href="">News and Press</a>
        <a href="">Trials and Demos</a>
        <a href="">Find Services</a>
        <a href="">Customer Stories</a>
        <a href="">Newsletter</a>
      </div>

      <div class="contactUsColumn">
        <div class="columnHeader">Site Information</div>
        <a href="">Privacy</a>
        <a href="">Find a Solution </a>
        <a href="">Industries</a>
        <a href="">Find a Partner</a>
        <a href="">Trials and Demos</a>
        <a href="">Find Services</a>
      </div>
    </div>

    <!-- for hidden content -->

    <div class="contentContainer">
      <div>
        <h5 (click)="toggleSection('financial')">
          <span *ngIf="activeSection !== 'financial'"
            ><i class="fa-solid fa-angle-right"></i>
          </span>
          <span *ngIf="activeSection === 'financial'"
            ><i class="fa-solid fa-angle-down"></i
          ></span>
          Quick Links
        </h5>
        <hr />
        <div *ngIf="activeSection === 'financial'" class="content">
          <a href="#">SAP Trust Center</a>
          <a href="#">Find a Solution</a>
          <a href="#">Industries</a>
          <a href="#">Find a Partner</a>
          <a href="#">Trials and Demos</a>
          <a href="#">Find Services</a>
        </div>

        <h5 (click)="toggleSection('crm')">
          <span *ngIf="activeSection !== 'crm'"
            ><i class="fa-solid fa-angle-right"></i>
          </span>
          <span *ngIf="activeSection === 'crm'"
            ><i class="fa-solid fa-angle-down"></i
          ></span>
          Trending
        </h5>
        <hr />
        <div *ngIf="activeSection === 'crm'" class="content">
          <a href="#">SAP TechEd </a>
          <a href="#">Find a Solution </a>
          <a href="#">What is RISE with SAP? </a>
          <a href="#">SAP Business AI </a>
          <a href="#">Sustainability </a>
          <a href="#">Find Services</a>
        </div>

        <h5 (click)="toggleSection('crm')">
          <span *ngIf="activeSection !== 'crm'"
            ><i class="fa-solid fa-angle-right"></i>
          </span>
          <span *ngIf="activeSection === 'crm'"
            ><i class="fa-solid fa-angle-down"></i
          ></span>
          About SAP
        </h5>
        <hr />
        <div *ngIf="activeSection === 'crm'" class="content">
          <a href="#">Company Information </a>
          <a href="#">Worldwide Directory </a>
          <a href="#">Industries </a>
          <a href="#">News and Press</a>
          <a href="#">Trials and Demos </a>
          <a href="#">Find Services</a>
          <a href="#">Customer Stories </a>
          <a href="#">Newsletter </a>
        </div>
        <h5 (click)="toggleSection('crm')">
          <span *ngIf="activeSection !== 'crm'"
            ><i class="fa-solid fa-angle-right"></i>
          </span>
          <span *ngIf="activeSection === 'crm'"
            ><i class="fa-solid fa-angle-down"></i
          ></span>
          Site Information
        </h5>
        <hr />
        <div *ngIf="activeSection === 'crm'" class="content">
          <a href="#">Privacy </a>
          <a href="#">Find a Solution </a>
          <a href="#">Industries </a>
          <a href="#">Find a Partner </a>
          <a href="#">Trials and Demos </a>
          <a href="#">Find Services </a>
        </div>
      </div>
    </div>
  </div>
</div>
