.menu {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  position: absolute;
  top: 60px;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.menu h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}

.menu_sec_container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* background-color: aqua; */
}

.menu-section {
  margin-right: 100px;
}

.menu-section h3 {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
}

.menu-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-section li {
  font-size: 13px;
  margin-bottom: 15px;
  color: #3a3939;
  cursor: pointer;
}

.menu-section li:hover {
  text-decoration: underline;
}
