<div class="menu product_position">
  <h2>Explore all areas of SAP</h2>
  <div class="menu_sec_container">
    <div class="menu-section">
      <h3>Products</h3>
      <hr />
      <ul>
        <li>Business Network</li>
        <li>Business Technology Platform</li>
        <li>CRM and Customer Experience</li>
        <li>Enterprise Resource Planning</li>
        <li>Financial Management</li>
        <li>Human Capital Management</li>
        <li>Small and Midsize Enterprises</li>
        <li>Spend Management</li>
        <li>Supply Chain Management</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Learning and Support</h3>
      <hr />
      <ul>
        <li>Automotion</li>
        <li>Banking</li>
        <li>Products</li>
        <li>Oil,Gas,Energy</li>
        <li>Retail</li>
        <li>View all Industries</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>About</h3>
      <hr />
      <ul>
        <li>Application Developement</li>
        <li>Data and Analytics</li>
        <li>Expended Planning and Analysis</li>
        <li>Software Downloads</li>
        <li>Integration</li>
      </ul>
    </div>
  </div>
</div>
