<div class="container uppderContainer">
  <div class="upperPartContainer">
    <div class="frontText">
      <div class="vertical-divider"></div>
      <p>Solutions built for you</p>
    </div>
    <div class="backBtn">
      <button class="btn">View products A-Z</button>
    </div>
    <div></div>
  </div>
  <div class="lowerPartContainer">
    <div class="boxContainer">
      <a class="boxStyle">
        <h5>Enterprise Resource Planning</h5>
        <h6>
          SAP S/4HANA Cloud is complete, modular, and award-winning ERP.
          Embedded with AI and analytics, it can help your business run
          anywhere, in real time.
        </h6>
        <p>
          Get started with SAP S/4HANA Cloud
          <i class="fa-solid fa-chevron-right"></i>
        </p>
      </a>
      <a class="boxStyle">
        <h5>CRM and Customer Experience</h5>
        <h6>
          With our CX solutions, you can connect e-commerce, marketing, sales,
          and service data – and use AI to personalize the customer experience
          at every touchpoint.
        </h6>
        <p>
          Get started with SAP S/4HANA Cloud
          <i class="fa-solid fa-chevron-right"></i>
        </p>
      </a>
    </div>
    <div class="boxContainer">
      <a class="boxStyle">
        <h5>Enterprise Resource Planning</h5>
        <h6>
          SAP S/4HANA Cloud is complete, modular, and award-winning ERP.
          Embedded with AI and analytics, it can help your business run
          anywhere, in real time.
        </h6>
        <p>
          Get started with SAP S/4HANA Cloud
          <i class="fa-solid fa-chevron-right"></i>
        </p>
      </a>
      <a class="boxStyle">
        <h5>Enterprise Resource Planning</h5>
        <h6>
          SAP S/4HANA Cloud is complete, modular, and award-winning ERP.
          Embedded with AI and analytics, it can help your business run
          anywhere, in real time.
        </h6>
        <p>
          Get started with SAP S/4HANA Cloud
          <i class="fa-solid fa-chevron-right"></i>
        </p>
      </a>
    </div>
    <div class="boxContainer">
      <a class="boxStyle">
        <h5>Enterprise Resource Planning</h5>
        <h6>
          SAP S/4HANA Cloud is complete, modular, and award-winning ERP.
          Embedded with AI and analytics, it can help your business run
          anywhere, in real time.
        </h6>
        <p>
          Get started with SAP S/4HANA Cloud
          <i class="fa-solid fa-chevron-right"></i>
        </p>
      </a>
      <a class="boxStyle">
        <h5>Enterprise Resource Planning</h5>
        <h6>
          SAP S/4HANA Cloud is complete, modular, and award-winning ERP.
          Embedded with AI and analytics, it can help your business run
          anywhere, in real time.
        </h6>
        <p>
          Get started with SAP S/4HANA Cloud
          <i class="fa-solid fa-chevron-right"></i>
        </p>
      </a>
    </div>
  </div>
</div>

<!-- after 980px -->
<div class="container">
  <div class="upperPartContainer">
    <div class="frontText">
      <div class="vertical-divider"></div>
      <p>Solutions built for you</p>
    </div>
  </div>
  <div class="lowerPartContainer">
    <div>
      <h5 (click)="toggleSection('erp')">
        <span *ngIf="activeSection !=='erp'"><i class="fa-solid fa-angle-right"></i> </span>  
        <span *ngIf="activeSection === 'erp'"><i class="fa-solid fa-angle-down"></i></span>
        Enterprise Resource Planning
      </h5>
      <hr>
      <div *ngIf="activeSection === 'erp'" class="content">
        <p>SAP S/4HANA Cloud is complete, modular, and award-winning ERP. Embedded with AI and analytics, it can help your business run anywhere, in real-time.</p>
        <a href="#">Get started with SAP S/4HANA Cloud</a>
      </div>
    
      <h5 (click)="toggleSection('crm')">
        <span *ngIf="activeSection!=='crm'"><i class="fa-solid fa-angle-right"></i> </span>  
        <span *ngIf="activeSection === 'crm'"><i class="fa-solid fa-angle-down"></i></span>
        CRM and Customer Experience
      </h5>
      <hr>
      <div *ngIf="activeSection === 'crm'" class="content">
        <p>With our CX solutions, you can connect e-commerce, marketing, sales, and service data – and use AI to personalize the customer experience at every touchpoint.</p>
        <a href="#">Explore CRM and CX solutions </a>
      </div>
    
      <h5 (click)="toggleSection('financial')">
        <span *ngIf="activeSection!=='financial'"><i class="fa-solid fa-angle-right"></i> </span>  
        <span *ngIf="activeSection === 'financial'"><i class="fa-solid fa-angle-down"></i></span>
        Enterprise Resource Planning
      </h5>
      <hr>
      <div *ngIf="activeSection === 'financial'" class="content">
        <p>SAP S/4HANA Cloud is complete, modular, and award-winning ERP. Embedded with AI and analytics, it can help your business run anywhere, in real-time.</p>
        <a href="#">Get started with SAP S/4HANA Cloud</a>
      </div>
    
      <!-- Repeat for other sections -->
    </div>
    
  </div>
</div>

<!-- lower footer -->
<div class="lowerFooterContainer">
  <div class="container">
    <h2 class="footerHeader">
      The company that leaders trust to help them grow and thrive
    </h2>
    <div class="frontText">
      <div class="vertical-divider"></div>
      <p>Who we are</p>
    </div>
    <div class="footerBody">
      <h3>Cloud solutions for every business</h3>
      <h4>
        As the market leader in enterprise application software, we’re helping
        companies of all sizes and in all industries run better by redefining
        ERP.
      </h4>
      <button class="btn btn-primary">Get started with cloud ERP</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="frontText">
    <div class="vertical-divider"></div>
    <p>Additional solutions that support your success</p>
  </div>
  <div class="cardContainer">
    <div class="custom-card">
      <img
        src="/assets/images/people1.jpg"
        alt="Consumer products"
        class="card-image"
      />
      <div class="card-content">
        <h3>Consumer products solutions</h3>
        <hr />
        <p>
          Keep up with consumer preferences and personalize brand experiences by
          becoming not just data-driven but data-empowered – from source to
          shelf.
        </p>
        <a href="#" class="card-link">
          Explore CPG solutions <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div class="custom-card">
      <img
        src="/assets/images/people2.webp"
        alt="Consumer products"
        class="card-image"
      />
      <div class="card-content">
        <h3>Consumer products solutions</h3>
        <hr />
        <p>
          Keep up with consumer preferences and personalize brand experiences by
          becoming not just data-driven but data-empowered – from source to
          shelf.
        </p>
        <a href="#" class="card-link">
          Explore CPG solutions <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="cardContainer">
    <div class="custom-card">
      <img
        src="/assets/images/people1.jpg"
        alt="Consumer products"
        class="card-image"
      />
      <div class="card-content">
        <h3>Consumer products solutions</h3>
        <hr />
        <p>
          Keep up with consumer preferences and personalize brand experiences by
          becoming not just data-driven but data-empowered – from source to
          shelf.
        </p>
        <a href="#" class="card-link">
          Explore CPG solutions <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div class="custom-card">
      <img
        src="/assets/images/people2.webp"
        alt="Consumer products"
        class="card-image"
      />
      <div class="card-content">
        <h3>Consumer products solutions</h3>
        <hr />
        <p>
          Keep up with consumer preferences and personalize brand experiences by
          becoming not just data-driven but data-empowered – from source to
          shelf.
        </p>
        <a href="#" class="card-link">
          Explore CPG solutions <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="trustedTextContainer">
    <div class="secContainer">
      <h1>Trusted by companies small and large around the globe</h1>
      <button class="btn btn-primary">Search our customer stories</button>
      <div class="logoContainer">
        <img src="/assets/logo/logo1.png" alt="" class="logo-style" />
        <img src="/assets/logo/logo2.png" alt="" class="logo-style" />
        <img src="/assets/logo/logo3.png" alt="" class="logo-style" />
        <img src="/assets/logo/logo4.png" alt="" class="logo-style" />
        <img src="/assets/logo/logo5.png" alt="" class="logo-style" />
        <img src="/assets/logo/logo6.png" alt="" class="logo-style" />
      </div>
    </div>
  </div>

  <div class="whatNewContainer">
    <div class="frontText">
      <div class="vertical-divider"></div>
      <p>What's new</p>
    </div>

    <div class="whatNewBox">
      <div class="imageContainer">
        <img src="/assets/images/people-with-phone.avif" alt="" />
      </div>
      <div class="textContainer">
        <p>App development</p>
        <h4>Extend your apps with gen AI</h4>
        <h5>
          Streamline app development, automate processes, and break down silos
          with the latest ABAP and generative AI capabilities in SAP Build.
        </h5>
        <button class="btn btn-primary">Explore SAP Build</button>
      </div>
    </div>

    <div class="cardContainer">
      <div class="custom-card">
        <img
          src="/assets/images/people1.jpg"
          alt="Consumer products"
          class="card-image"
        />
        <div class="card-content">
          <h3>Consumer products solutions</h3>
          <hr />
          <p>
            Keep up with consumer preferences and personalize brand experiences
            by becoming not just data-driven but data-empowered – from source to
            shelf.
          </p>
          <button class="btn btn-primary">Watch the replays now</button>
        </div>
      </div>

      <div class="custom-card">
        <img
          src="/assets/images/people2.webp"
          alt="Consumer products"
          class="card-image"
        />
        <div class="card-content">
          <h3>Consumer products solutions</h3>
          <hr />
          <p>
            Keep up with consumer preferences and personalize brand experiences
            by becoming not just data-driven but data-empowered – from source to
            shelf.
          </p>
          <button class="btn btn-primary">Watch the replays now</button>
        </div>
      </div>
    </div>

    <div class="cardContainer">
      <div class="custom-card">
        <img
          src="/assets/images/people1.jpg"
          alt="Consumer products"
          class="card-image"
        />
        <div class="card-content">
          <h3>Consumer products solutions</h3>
          <hr />
          <p>
            Keep up with consumer preferences and personalize brand experiences
            by becoming not just data-driven but data-empowered – from source to
            shelf.
          </p>
          <button class="btn btn-primary">Watch the replays now</button>
        </div>
      </div>

      <div class="custom-card">
        <img
          src="/assets/images/people2.webp"
          alt="Consumer products"
          class="card-image"
        />
        <div class="card-content">
          <h3>Consumer products solutions</h3>
          <hr />
          <p>
            Keep up with consumer preferences and personalize brand experiences
            by becoming not just data-driven but data-empowered – from source to
            shelf.
          </p>
          <button class="btn btn-primary">Watch the replays now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact-us></app-contact-us>
