.container {
  padding: 80px 0px;
}

.uppderContainer {
  display: block;
}

.upperPartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frontText {
  width: 100%;
  display: flex;
}

.backBtn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.vertical-divider {
  width: 4px;
  height: 37px;
  background-color: #000;
  margin: 0 10px;
}

.frontText p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 7px;
}

.backBtn .btn {
  width: 180px;
  height: 45px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(22, 22, 76);
  border-radius: 10px;
  color: rgb(42, 42, 126);
}

.backBtn .btn:hover {
  background-color: #e2e4e5;
}

.boxContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

.boxStyle {
  width: 45%;
  height: auto;
  /* border: 1px solid black; */
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boxStyle h5 {
  font-weight: 800;
  margin-bottom: 20px;
}

.boxStyle h6 {
  opacity: 0.7;
  line-height: 25px;
}

.boxStyle p {
  color: rgb(36, 60, 136);
  text-decoration: none;
}

.boxStyle p:hover {
  text-decoration: underline;
}

/* lower footer */
.lowerFooterContainer {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/images/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .container{
  background-color: #0033cc;
} */

.footerHeader {
  font-weight: 700;
  margin-bottom: 40px;
}

.footerBody {
  width: 45%;
  height: 200px;
  padding-top: 40px;
}

.footerBody h3 {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.footerBody h4 {
  opacity: 0.7;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

/* for card */
.cardContainer {
  width: 100%;
  height: 80vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 48%;
  height: 480px;
  /* background-color: #0033cc; */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.cardContainer .custom-card:hover {
  cursor: pointer;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.373);
}

.card-image {
  width: 100%;
  height: 250px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 15px 0 10px 0;
  text-align: center;
}

.card-content hr {
  border: none;
  border-top: 1px solid #646464;
  margin: 10px 0;
}

.card-content p {
  color: #333;
  font-size: 1em;
  margin: 10px 0 20px 0;
}

.card-link {
  color: #0033cc;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.card-link:hover {
  text-decoration: underline;
}

.card-link i {
  margin-left: 5px;
}

.trustedTextContainer {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/images/world.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0px;
  display: flex;
  align-items: center;
}

.secContainer {
  width: 80%;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  /* background-color: #0033cc; */
}

.secContainer h1 {
  font-size: 30px;
  font-weight: 800;
  margin: 0px 0px 120px;
}

.logoContainer {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.logoContainer .logo-style {
  width: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logoContainer .logo-style:hover {
  width: 70px;
  transform: scale(1.1);
}

.whatNewContainer {
  width: 100%;
  height: auto;
  /* background-color: #333; */
  padding: 40px;
}

.whatNewBox {
  width: 100%;
  height: 240px;
  margin: 60px 0px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.what-new-box-hide{
  display: none;
}

.imageContainer {
  width: 30%;
  height: 240px;
  border-radius: 20px;
}

.imageContainer img {
  width: 100%;
  height: 240px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.textContainer {
  width: 70%;
  height: 180px;
  /* background-color: #0033cc; */
  text-align: start;
  padding: 0px 25px;
}

.textContainer p {
  font-size: 13px;
  font-weight: 600;
}

.textContainer h4 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 17px;
}

.textContainer h5 {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  line-height: 25px;
  margin-bottom: 17px;
}

/* for width 980px */
.contentContainer {
  padding: 40px;
  display: none;
}

.lowerPartContainer {
  width: 100%;
  height: auto;
  padding: 20px;
  /* background-color: #0033cc; */
}

.lowerPartContainer span {
  font-size: 17px;
  color: rgb(18, 79, 220);
  margin-right: 30px;
}

.lowerPartContainer h5 {
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  margin: 25px 0px;
}

.content {
  width: 100%;
  height: auto;
  padding: 10px 0px 30px;
}

.content a {
  font-size: 17px;
  text-decoration: none;
  color: rgb(16, 62, 160);
}

.content a:hover {
  text-decoration: underline;
}

@media (max-width: 995px) {
  .uppderContainer {
    display: none;
  }

  .contentContainer {
    display: block;
  }

  .backBtn {
    display: block;
    padding-left: 20px;
  }

  .cardContainer {
    width: 100%;
    height: 170vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .custom-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: 500px;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

  .whatNewBox{
    display: none;
  }

  .what-new-box-hide{
    display: block;
    margin-bottom: 50px;
  }
}

@media (max-width: 860px) {
  .footerBody {
    width: 55%;
  }

  .footerBody h3 {
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 0px;
  }

  .footerBody h4 {
    font-size: 17px;
  }
}

@media (max-width: 780px) {
  .footerBody {
    width: 70%;
  }

  .footerBody h3 {
    font-size: 18px;
  }

  .footerBody h4 {
    font-size: 16px;
  }
}
