<!-- navbar -->

<nav class="navbar">
  <div class="container d-flex justify-content-between">
    <div class="logo_container">
      <a href="/home" class="logo"></a>
    </div>

    <div class="menu_container">
      <div class="front_menu_list" *ngIf="!isMobileView">
        <span
          class="menu_style"
          [ngClass]="{ 'active-color': visibleSection === 'products' }"
          (click)="toggleSection('products')"
          >Products</span
        >
        <span
          class="menu_style"
          [ngClass]="{ 'active-color': visibleSection === 'support' }"
          (click)="toggleSection('support')"
          >Support</span
        >
        <span
          class="menu_style"
          [ngClass]="{ 'active-color': visibleSection === 'learning' }"
          (click)="toggleSection('learning')"
          >Learning</span
        >
        <span
          class="menu_style"
          [ngClass]="{ 'active-color': visibleSection === 'community' }"
          (click)="toggleSection('community')"
          >Community</span
        >
        <span
          class="menu_style"
          [ngClass]="{ 'active-color': visibleSection === 'partners' }"
          (click)="toggleSection('partners')"
          >Partners</span
        >
        <span
          class="menu_style"
          [ngClass]="{ 'active-color': visibleSection === 'about' }"
          (click)="toggleSection('about')"
          >About</span
        >
      </div>

      <div class="back_menu_list_container" *ngIf="!isMobileView">
        <div class="back_menu_list">
          <span
            class="menu_style explore"
            [ngClass]="{ 'active-color': visibleSection === 'explore' }"
            (click)="toggleSection('explore')"
            >Explore SAP</span
          >
          <span
            class="menu_icon_style hidden-search-icon"
            (click)="toggleSearchSection('search')"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
          <span class="menu_icon_style" (click)="openIcon()"
            ><i class="fa-regular fa-user"></i
          ></span>

          <span class="menu_icon_style">
            <i class="fa-solid fa-globe"></i>
          </span>
          <div class="vertical-divider"></div>
          <span class="menu_icon_style close-hide-btn">
            <i class="fa fa-times close_icon" (click)="toggleSidebar()"></i>
          </span>
        </div>
      </div>

      <i
        class="fa fa-bars hamburger_icon"
        (click)="toggleSidebar()"
        *ngIf="isMobileView && !isSidebarOpen"
      ></i>
    </div>
  </div>
</nav>

<!-- contact us button -->
<button class="fixed-button">
  <i class="fa-regular fa-comments"></i>
  <span>Contact us</span>
</button>

<!-- for body -->
<app-body> </app-body>

<!-- for footer -->
<app-footer></app-footer>

<!-- for sidebar menu -->
<div class="sidebar" [class.open]="isSidebarOpen">
  <div class="side-search-container">
    <input type="text" placeholder="Search" class="search-input" />
    <span class="search-icon"
      ><i class="fa-solid fa-magnifying-glass"></i
    ></span>
  </div>
  <a href="#" class="sidebar_item">Products</a>
  <hr />
  <a href="#" class="sidebar_item">Support</a>
  <hr />
  <a href="#" class="sidebar_item">Learning</a>
  <hr />
  <a href="#" class="sidebar_item">Community</a>
  <hr />
  <a href="#" class="sidebar_item">Partners</a>
  <hr />
  <a href="#" class="sidebar_item">About</a>
  <hr />
  <span
    class="menu_style explore hidden-explore"
    [ngClass]="{ 'active-color': visibleSection === 'explore' }"
    (click)="toggleSection('')"
    >Explore SAP</span
  >
</div>

<!-- for user icon -->
<div class="icon-backdrop" *ngIf="isIconOpen" (click)="openIcon()"></div>
<div class="icon-container" *ngIf="isIconOpen">
  <div class="user-content">
    <div class="icon-header-container">
      <span class="close-btn" (click)="openIcon()">×</span>
      <h2>Thank you for your interest in SAP</h2>
    </div>
    <hr />
    <img src="/assets/logo/location.png" alt="" class="locationIcon" />
    <p>This offering is currently not available in your region.</p>
  </div>
</div>

<div *ngIf="visibleSection === 'products'">
  <app-products-screen></app-products-screen>
</div>

<div *ngIf="visibleSection === 'support'">
  <app-support></app-support>
</div>

<div *ngIf="visibleSection === 'learning'">
  <app-learning></app-learning>
</div>

<div *ngIf="visibleSection === 'community'">
  <app-community></app-community>
</div>

<div *ngIf="visibleSection === 'partners'">
  <app-partners></app-partners>
</div>

<div *ngIf="visibleSection === 'about'">
  <app-about></app-about>
</div>

<div *ngIf="visibleSection === 'explore'">
  <app-explore></app-explore>
</div>

<!-- for search -->
<div class="menu" *ngIf="isMenuOpen">
  <div class="menu-section">
    <div class="search-container">
      <input type="text" placeholder="Search" />
      <i class="fa fa-search search_icon"></i>
      <i class="fa fa-times close_icon" (click)="togglesClose()"></i>
    </div>
  </div>
</div>
