<div class="menu product_position">
  <div class="menu-section">
    <h3>By Category</h3>
    <hr />

    <a href="/category">Enterprise Resource Planning</a>
    <a href="/category">Supply Management</a>
    <a href="/category">Financial Management</a>
    <a href="/category">Spend Management</a>
    <a href="/category">Human Management</a>
    <a href="/category">Customer</a>
    <a href="/category">View Products</a>
  </div>
  <div class="menu-section">
    <h3>By Industry</h3>
    <hr />

    <a href="/category">Automotion</a>
    <a href="/category">Banking</a>
    <a href="/category">Products</a>
    <a href="/category">Oil,Gas,Energy</a>
    <a href="/category">Retail</a>
    <a href="/category">View all Industries</a>
  </div>
  <div class="menu-section">
    <h3>Business Technology Platform</h3>
    <hr />

    <a href="/category">Application Developement</a>
    <a href="/category">Data and Analytics</a>
    <a href="/category">Expended Planning and Analysis</a>
    <a href="/category">Software Downloads</a>
    <a href="/category">Integration</a>
  </div>
</div>
