<div class="menu product_position">
  <div class="menu-section">
    <h3>By Category</h3>
    <hr />
    <ul>
      <li>Enterprise Resource Planning</li>
      <li>Supply Management</li>
      <li>Financial Management</li>
      <li>Spend Management</li>
      <li>Human Management</li>
      <li>Customer</li>
      <li>View Products</li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>By Industry</h3>
    <hr />
    <ul>
      <li>Automotion</li>
      <li>Banking</li>
      <li>Products</li>
      <li>Oil,Gas,Energy</li>
      <li>Retail</li>
      <li>View all Industries</li>
    </ul>
  </div>
  <div class="menu-section">
    <h3>Business Technology Platform</h3>
    <hr />
    <ul>
      <li>Application Developement</li>
      <li>Data and Analytics</li>
      <li>Expended Planning and Analysis</li>
      <li>Software Downloads</li>
      <li>Integration</li>
    </ul>
  </div>
</div>
