<div class="menu">
    <div class="menu-section">
      <h3>Services and Support Offerings</h3>
      <hr>
      <ul>
        <a href="/support">Foundational Support</a>
        <a href="/support">Success Plans and Services</a>
        <a href="/support">Premium Engagements</a>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Customer Support Portal</h3>
      <hr>
      <ul>
        <a href="/support">Get Support (SAP for Me login)</a>
        <a href="/support">Knowledge Base</a>
        <a href="/support">Documentation (Help Portal)</a>
        <a href="/support">Software Downloads</a>
        <a href="/support">Application Lifecycle Management</a>
        <a href="/support">Maintenance Information</a>
        <a href="/support">SAP Business Network for Suppliers</a>
      </ul>
    </div>
  </div>
  