<div class="menu">
    <div class="menu-section">
      <h3>Services and Support Offerings</h3>
      <hr>
      <ul>
        <li>Foundational Support</li>
        <li>Success Plans and Services</li>
        <li>Premium Engagements</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Customer Support Portal</h3>
      <hr>
      <ul>
        <li>Get Support (SAP for Me login)</li>
        <li>Knowledge Base</li>
        <li>Documentation (Help Portal)</li>
        <li>Software Downloads</li>
        <li>Application Lifecycle Management</li>
        <li>Maintenance Information</li>
        <li>SAP Business Network for Suppliers</li>
      </ul>
    </div>
  </div>
  